<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Calendario</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link   
 href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"   
 rel="stylesheet">
  <style>
    body {
      font-family: 'Montserrat', sans-serif;
    }
  </style>
</head>
<body>
    <div id="side-bar"> </div>
    <div id="notification" class="fixed top-20 left-0 right-0"></div>
    <div class="p-4 md:ml-64  flex flex-col max-w-7xl mx-auto justify-center  gap-4 items-center px-6">
        <div id="schedule-attendance" class="transition h-3/4  hidden ease-in-out bg-slate-200  px-4 py-4 text-black shadow-xl  fixed top-32   right-30 left-30 bottom-10 rounded-lg md:w-2/4 lg:w-2/4  justify-around items-center flex-col gap-2 w-11/12">
            <div class="flex flex-col justify-between items-center">  
            <h3 id="form-title" class="text-lg  font-bold  ">Pole Dance</h3>
            <p>9:00am.</p>
            <input  type="date" id="" name="input-schedule-date" class="pay-ref text-black mt-1 p-2 w-full rounded-md border-gray-700 focus:border-indigo-500" placeholder="Ingrese el email de envío">
           </div>
              <div id="" class="h-96 bg-white rounded-md w-full p-4 space-y-4 overflow-auto">
                <table id="payments-table" class=" overflow-x-scroll w-full  text-sm text-center rtl:text-right text-gray-500">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                        <tr>
                            <th scope="col" class="text-center px-6 py-3">
                                Eliminar
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Alumno
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Asistencia
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Cargar
                            </th>
                          </tr> 
                        </thead>
                        <tbody id="attendance-list">
                 
                    
            
                    
                    </tbody>
                </table>
              
            </div>  
            <div>
                <button class="mt-4 bg-violet-400 hover:bg-white hover:text-violet-400 text-white font-bold py-2 px-4 rounded">
                  Cancelar
                </button>
              </div>  
            </div>  
        <form id="schedule-form" class="transition hidden ease-in-out bg-slate-200  px-4 py-4 text-black shadow-xl  fixed top-14 right-30 left-30 bottom-10 rounded-lg  justify-around items-center flex-col gap-2 w-11/12  md:w-2/4">
            <div class="flex flex-col justify-between items-center">  
            <h3 id="form-title" class="text-lg  font-bold  ">Pole Dance</h3>
            <p>9:00am.</p>
            <input  type="date" id="input-schedule-date" name="input-schedule-date" class="pay-ref text-black mt-1 p-2 w-full rounded-md border-gray-700 focus:border-indigo-500" placeholder="Ingrese el email de envío">
           </div>
              <div id="students-list" class="h-96 bg-white rounded-md w-full p-4 space-y-4 overflow-auto">
                <ul id="schedule-list" class="flex w-full min-w-[240px] flex-col gap-1 p-2 font-sans text-base font-normal text-blue-gray-700"></ul>
              
            </div>  
            <div>
                <button class="mt-4 bg-violet-400 hover:bg-white hover:text-violet-400 text-white font-bold py-2 px-4 rounded">
                  Cancelar
                </button>
              </div>  
        </form>  
        <h2 id="day-title" class="hidden text-4xl font-extrabold leading-tight tracking-tight text-gray-900">
            CREAR NUEVO HORARIO
            </h2>
         <form id="form" class="hidden flex-col w-full md:w-2/4  gap-4 bg-slate-200 p-4 rounded-lg text-md shadow-lg">
           
            <div class="flex flex-col gap-2">
            <label for="dayOfWeek" class="font-bold">Dia de la semana</label>
            <select class="rounded-lg p2 bg-slate-100 focus:outline-none" name="dayOfWeek" id="select-day">
                <option selected disabled value=""></option>
                <option value="monday">Lunes</option>
                <option value="tuesday">Martes</option>
                <option value="wednesday">Miercoles</option>
                <option value="thursday">Jueves</option>
                <option value="friday">Viernes</option>
                <option value="saturday">Sabado</option>
            </select>
            </div>     
            
            <div class="flex flex-col gap-2">
            <label for="time" class="font-bold">Hora</label>
            <select  class="rounded-lg p2 bg-slate-100 focus:outline-none" name="time" id="select-time">
                <option selected disabled value=""></option>
                <option value="8:00am.">8:00am.</option>
                <option value="9:00am.">9:00am.</option>
                <option value="10:00am.">10:00am.</option>
                <option value="11:00am.">11:00am.</option>
                <option value="3:00pm.">3:00pm.</option>
                <option value="4:00pm.">4:00pm.</option>
                <option value="5:00pm.">5:00pm.</option>
                <option value="6:00pm">6:00pm.</option>
            </select>
            </div>

            <div class="flex flex-col gap-2">
                <label for="discipline" class="font-bold">Disciplina</label>
                <select  class="rounded-lg p2 bg-slate-100 focus:outline-none" name="discipline" id="select-discipline">
                    <option selected disabled value=""></option>
                    <option value="Pilates">Pilates</option>
                    <option value="Aeropilates">Aeropilates</option>
                    <option value="Pole Fitness">Pole Fitness</option>
                    <option value="Pole Coreográfico">Pole Coreográfico</option>
                    <option value="Pole Exotic">Pole Exotic</option>
                    <option value="Telas Acrobáticas">Telas Acrobáticas</option>
                    <option value="Lyra Hoop">Lyra Hoop</option>
                </select>
            </div>
            
            
            <button  id="form-btn" class=" disabled:opacity-50 disabled:cursor-not-allowed py-2 px-4 bg-violet-400 rounded-lg font-bold text-white hover:border-transparent hover:text-teal-500 hover:bg-white">Crear Horario</button>
         </form>

         <div class="flex w-full px-4 py-3 rounded-md border-2 border-violet-400/50 overflow-hidden max-w-md mx-auto">
            <input  id="input-date" type="date" placeholder="" class="w-full outline-none bg-transparent text-gray-600 text-sm" />
        </div>

        <h2 id="day-title" class="text-4xl font-extrabold leading-tight tracking-tight text-gray-900 ">
            CLASES DEL DÍA
            </h2>

        <section id="schedule-section" class="w-full pb-4 rounded-lg shadow-lg md:w-3/4 lg:w-2/4  flex flex-col justify-between overflow-auto bg-slate-200  antialiased"></section>

    




    <script src="../../components/sidebar.js"></script>
    <script type="module" src="index.js"></script>
    <script type="module" src="/components/notification.js"></script> 
</body>
</html>

