<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paquetes y Horarios</title>
    <link rel="stylesheet" href="/styles/output.css">
    <link rel="icon" type="image/png" href="/images/lotuslogo2.png"/>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link   
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"   
    rel="stylesheet">
    <style>
    body {
      font-family: 'Montserrat', sans-serif;
    }
  </style>
</head>
<body>
    <nav id="navbar" class="fixed top-0 right-0 left-0 bg-violet-400 h-16"></nav>
    <main class="pt-16 text-violet-400 mx-auto p-4">
      <section class="container mx-auto py-8">
        <h2 class="text-3xl font-bold text-center mb-8">Nuestros Paquetes</h2>
        <p class="text-lg text-center mb-4">En Námaste Pole Fitness, tenemos el paquete perfecto para ti. Elige entre una variedad de opciones y horarios que se adaptan a tu estilo de vida.</p>
        <div class="grid justify-center items-center text-center grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-4">
            <div class="bg-white rounded shadow-md p-6">
                <h3 class="text-xl font-bold">Paquetes Aéreos</h3>
                <ul>
                    <li>4 Clases: 1 vez por semana - $30</li>
                    <li>8 Clases: 2 veces por semana - $35</li>
                    <li>12 Clases: 3 veces por semana - $40</li>
                    <li>16 Clases: 4 veces por semana - $45</li>
                    <li>20 Clases: 5 veces por semana - $50</li>
                    <li>24 Clases: 6 veces por semana - $55</li>
                </ul>
            </div>
    
            <div class="bg-white rounded shadow-md p-6">
                <h3 class="text-xl font-bold">Paquetes Pilates</h3>
                <ul>
                    <li>8 Clases: 2 veces por semana - $30</li>
                    <li>12 Clases: 3 veces por semana - $40</li>
                </ul>
            </div>
    
            <div class="bg-white rounded shadow-md p-6">
                <h3 class="text-xl font-bold">Combos Aéreos + Pilates</h3>
                <ul>
                    <li>8 Clases: 4 aéreos + 4 pilates - $50</li>
                    <li>16 Clases: 8 aéreos + 8 pilates - $60</li>
                </ul>
            </div>
        </div>
    </section>
    
    <section class="container mx-auto  py-8">
        <h2 class="text-3xl font-bold text-center mb-8">Horarios</h2>
        <p class="text-lg text-center mb-4">Únete a nuestras clases y entrena con otras apasionadas del pole fitness! Contamos con horarios que se adaptan a todos los niveles y preferencias.</p>
        <div class="grid justify-center items-center text-center grid-cols-1 md:grid-cols-3 gap-4">
            <div class="bg-white rounded shadow-md p-6">
                <h3>Lunes</h3>
                <ul>
                    <li>8:00am - Pilates</li>
                    <li>9:00am - Pole Fitness</li>
                    <li>3:00pm - Lyra Hoop</li>
                    <li>4:00pm - Pole Exotic</li>
                    <li>5:00pm - Pole Fitness</li>
                    <li>6:00pm - Pole Coreográfico</li>
                </ul>
            </div>
            <div class="bg-white rounded shadow-md p-6">
              <h3>Martes</h3>
              <ul>
                  <li>8:00am - Pilates</li>
                  <li>9:00am - Pole Fitness</li>
                  <li>5:00pm - Pole Fitness</li>
                  <li>6:00pm - Pole Fitness</li>
              </ul>
          </div>
          <div class="bg-white rounded shadow-md p-6">
            <h3>Miércoles</h3>
            <ul>
                <li>9:00am - AeroPilates</li>
                <li>3:00pm - Telas Aéreas</li>
                <li>4:00pm - Pole Fitness</li>
                <li>5:00pm - Pole Fitness</li>
                <li>6:00pm - Pole Exotic</li>
            </ul>
        </div>
        <div class="bg-white rounded shadow-md p-6">
          <h3>Jueves</h3>
          <ul>
              <li>8:00am - Pilates</li>
              <li>4:00pm - Pole Fitness</li>
              <li>5:00pm - Pole Fitness</li>
              <li>6:00pm - Pole Fitness</li>
          </ul>
      </div>
      <div class="bg-white rounded shadow-md p-6">
        <h3>Viernes</h3>
        <ul>
            <li>9:00am - Pole Fitness</li>
            <li>4:00pm - Pole Fitness</li>
            <li>5:00pm - Pole Exotic</li>
            <li>6:00pm - Pole Fitness</li>
        </ul>
        
    </div>
    <div class="bg-white rounded shadow-md p-6">
      <h3>Sábado</h3>
      <ul>
          <li>8:00am - Pilates</li>
          <li>9:00am - Pole Fitness</li>
          <li>10:00am - AeroPilates</li>
          <li>11:00am - Pole Exotic</li>
      </ul>
  </div>
            </div>
    </section>
        <footer class="bg-white flex justify-center items-center rounded-lg  m-4">
            <div class="w-full flex  justify-center items-center max-w-screen-xl mx-auto p-4">
              
                
                <span class=" text-sm text-gray-500 text-center"> © 2024 Desarrollado por: Darwin La Rosa. Todos los derechos reservados.</span>
            </div>
        </footer>
      </main>




    <script src="../components/nav.js"></script>
</body>
</html>